HTTP_PORT=3333

# Configurações do SQL Server
SQL_SERVER=localhost
SQL_DATABASE=master
SQL_USER=sa
SQL_PASSWORD=SuaSenhaSegura123!
SQL_PORT=1433
SQL_ENCRYPT=true
SQL_TRUST_CERT=false

# Para SQL Server local em desenvolvimento, você pode usar:
# SQL_TRUST_CERT=true
# SQL_ENCRYPT=false

# Para Azure SQL Database:
# SQL_SERVER=seu-servidor.database.windows.net
# SQL_ENCRYPT=true
# SQL_TRUST_CERT=false

# Configurações adicionais
NODE_ENV=development
ORIGIN=http://localhost:3000,http://example.com
# Ajuste a variável ORIGIN conforme necessário para o seu ambiente de produção
